<%- include("partials/header");-%>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h3><%= postTitle%></h3>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
   <div class="container px-4 px-lg-5">
       <div class="row gx-4 gx-lg-5 justify-content-center">
           <div class="col-md-10 col-lg-8 col-xl-7">

               <div class="my-5">
                 <form >
   <p><%=postCont%></p>
                 </form>

               </div>
           </div>
       </div>
   </div>
</main>

<%- include("partials/footer");-%>
